<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Admin</h1>
    <a href="/main/logout">Sign Out</a>
    <table>
        <h2>Account Information</h2>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>User Type</th>
        </tr>
        {% for id, acc in accs.items %}
            <tr>
                <td>{{acc.username}}</td>
                <td>{{acc.email}}</td>
                <td>{{acc.password}}</td>
                <td>{{acc.type}}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Detections</h2>
    {% for username,det in dets.items %}
        <h3>Username: {{username}}</h3>
        {% for id,rep_dict in det.items %}
        <table>
            <h4>ID: {{id}}</h4>
            <tr>
                <th>Word</th>
                <th>Replacement</th>
            </tr>
            {% for title,entry in rep_dict.items %}
                {% for word,rep in entry.items %}
                    <tr>
                        <td>{{word}}</td>
                        <td>{{rep}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% endfor %}
    {% endfor %}
</body>
</html>