<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <a href="/main/home">Back</a><br><br>
    <label><b>Username</b></label>
    <p>{{acc.username}}</p>
    <label><b>Email</b></label>
    <p>{{acc.email}}</p>
    <label><b>Password</b></label>
    <p>{{acc.password}}</p>
    <label><b>Type</b></label>
    <p>{{acc.type}}</p>
</body>
</html>