<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">  
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'main/img/favicon.png' %}">
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="main">
      <a href="/main"><img src="{% static 'main/img/back.png' %}" alt="Back" style="width:40px; height:40px;"></a>
      <form class="form" action="/main/post_reset/" method="post">
        {% csrf_token %}
        <h1 class="form_title title">GADLY</h1><br>
        <h2 class="form_title title">Reset Your Password</h2>
        <input class="form__input" type="text" placeholder="Email" name="email">
        <input class="form button" type="submit" value="Send Reset Link" style="cursor:pointer;">
      </form>
    </div>
    {%if msg%}
    <script>
      window.alert('{{msg}}');
      window.location.replace("/main")
    </script>
    {% endif%}
  </body>
</html>